@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Poppins:wght@300;400;500;600;700;900&display=swap');

// font-family: 'Bitter', serif;
// font-family: 'Poppins', sans-serif;

$color-grey: #131313;
$heading-font: 'Bitter', serif;
$para-font: 'Poppins', sans-serif;
$sub-font: "Montserrat", sans-serif;

@mixin center-content() {
  display: flex;
  justify-content: center;
  align-items: center;
}
