@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Yanone+Kaffeesatz:wght@400;600&display=swap');

$color-red: rgb(248, 55, 55);
$color-teal: rgb(68, 246, 234);
$color-grey: #131313;
$lobster-font: 'Lobster', cursive;
$p-font: 'Yanone Kaffeesatz', sans-serif;
$oswald: 'Oswald', sans-serif;

@mixin center-content() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button() {

}