@import "_variables.scss";

/* About cards & logo styling */

.About-card {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 6px 6px black;
  // transition: all .2s ease;\
  // &:hover {
  //   box-shadow: 2px 2px #272727;
  //   transform: translate(5px, 5px);
  // }

  .About-title {
    font-size: 1.55rem;
    font-family: $heading-font;
    font-weight: bold;
    margin: 1.25rem;
    text-align: left;
  }

  li {
    font-family: $para-font;
    margin: 0 1rem;
    padding-bottom: 0.75rem;
    text-align: left;
  }
}

