@import "_variables.scss";
@import "About.scss";
@import "Footer.scss";
@import "index.scss";
@import "NotFound.scss";
@import "Project.scss";
@import "Projects.scss";

body {
  background-color: whitesmoke;
  color: black;
  font-family: $para-font, sans-serif;
}

.Typewriter {
  height: clamp(3rem, 6rem, 16rem);
  width: clamp(6rem, 18rem, 26rem);
}
