@import "_variables.scss";

/* Tailwind pre-flight takes care of otherwise common boilerplate styling resets */


/* Broad HTML & body / App container styling */
html {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  @media screen and (max-width: 1007px) {
    font-size: 16px;
  }
  @media screen and (max-width: 640px) {
    font-size: 14px;
  }
  body {
    padding: auto;
    line-height: 1;
    background-color: whitesmoke;
    background-size: cover;
    color: black;
    font-family: $para-font;
  }
}
