/* Footer styling */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 7%;
  background-color: black;
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  a {
    gap: 0 1rem 0 1rem;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}
