// Footer Container
.footer-container {
  // position: fixed;
  // bottom: 0;
  // width: 100vw;
  // height: 5%;
  background-color: black;
  // display: flex;
  flex: 1 1 auto;
}
// Footer and Icon Styling
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    margin: 0 16px 0 16px;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}
