  .home {
    p {
      font-size: 1.4em;
      font-weight: bold;
      grid-column: 1 / span 12;
      text-align: center;
      text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    }
    h1 {
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
  }
  h2 {
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    // margin-bottom: 55%;
  }
  .home-sub {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
  }
  .pink {
    color: #fdccff;
    text-decoration: underline;
  }
  .orange {
    color: #fec700;
  }
  .home-container {
    margin-top: 10%;
    grid-column: 2 / span 10;
    padding: auto;
  }
}



#iAm {
       text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #f7cbf7 0%,
        #c3f6dc 29%,
        #22f7c2 67%,
        #ffdb66 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 32px;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
}