@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Nav Bar Container
.header-nav {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  .logo {
    width: 25%;
    height: 25%;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1rem;
    line-height: 1.2rem;
  }
  a {
  margin: 0px 1rem 0px 1rem;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: rgb(248, 55, 55);
    text-shadow: 0 0 2px rgb(68, 246, 234);
    transition: color text-shadow 0.6s;

  }
  }
  .active {
    color: rgb(68, 246, 234);
    text-decoration: none;
    transition: color 0.6s;
    text-shadow: .10rem .10rem  rgb(248, 55, 55);
  }
}



