@import "_variables.scss";

/* Navigation bar styling */
.header-nav {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $heading-font;
  font-size: 2rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  color: black;
  @media screen and (max-width: 900px) {
    justify-content: center;
  }
  .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    // margin: 0 2rem;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  p {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  .logo-image {
    max-width: 10%;
    height: 10%;
    margin: 0 5%;
  }
  .hamburger {
    display: none;
    @media screen and (max-width: 780px) {
      display: block;
      font-family: $para-font;
    }
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 780px) {
      display: none;
    }
    @media screen and (min-width: 780px) {
      .home-link {
        display: none;
      }
    }
  }
  a,
  p {
    margin: 0px 0.75rem 0px 0.75rem;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: black;
      text-shadow: grey;
      font-weight: bolder;
      transition: color text-shadow font-weight 0.6s;
    }
  }
  .active {
    color: black;
    text-decoration: none;
    transition: color font-weight 0.6s;
    text-shadow: 0.1rem 0.1rem grey;
    font-weight: bolder;
  }

  @media screen and (max-width: 780px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
