@import "_variables.scss";

.projects-cards {
  margin: 6% 0px 5% 0px;
}
.projects-title {
  font-family: $heading-font;
  font-size: 2rem;
}
.projects-extra {
  h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}