@import "_variables.scss";

/* Project card & header styling */

.project-title {
  font-family: $heading-font;
  font-size: 2rem;
}

.project-card {
  border: 1px solid black;
  box-shadow: 5px 5px black;

}

.project-tech {
  font-family: $sub-font;
  margin: 1%;
  padding: 2%;
  font-size: 1rem;
  background-color: white;
  box-shadow: 2px 2px black;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  opacity: 75%;
}

.project-description {
  font-family: $para-font;
  font-size: 1.15rem;
  padding-top: 1rem;
}