.about {
  p {
    margin-top: 25%;
    font-size: 1.05em;
    line-height: 1.75;
    grid-column: 1 / span 5;
  }
  img {
    margin-top: 20%;
    grid-column: 7 / span 7;
    // width: 90%;
    // height: 75%;
    // object-fit: cover;
    border: 25px solid rgb(255, 247, 247);
    border-radius: 50%;
  }
}
