.about {
  div {
  padding: 1.25em;
  }
  div, p {
    font-size: 1.00em;
    line-height: 1.45;
    grid-column: 2 / span 12;
    color: black;
  }
  img {
    grid-column: 5/ span 6;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
  }
}
