.about {
  div {
    background-color: white;
    border-radius: 1%;
    border: 1px solid rgb(0, 0, 0);
  padding: 1.5em;
  }
  div, p {
    font-size: 1.00em;
    line-height: 1.75;
    grid-column: 1 / span 12;
    color: black;
  }
  img {
    grid-column: 4/ span 6;
    // width: 90%;
    // height: 75%;
    // object-fit: cover;
    border: 25px solid rgb(255, 247, 247);
    border-radius: 50%;
  }
}
