// Footer Container
.footer-container {
  position: absolute;
  bottom: 2%;

}
// Footer and Icon Styling
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    margin: 0 16px 0 16px;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}