
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#navbarNavAltMarkup {
    margin-right: 20px;
    margin-left: 20px;

}
#hero {
    background-image: url("https://i.pinimg.com/originals/cc/7d/11/cc7d11959dbeefbf935aa4736f69e989.jpg");
    width: 100%;
    height: 100%;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    margin: 0.625rem;
}
.hero-content p {
    font-size: larger;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://wallpaperset.com/w/full/f/c/0/198639.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
}
.hero-content {
    position: relative;
}

#project-content{
    margin: 0px;
    text-align: center;
    height: 40vh;
    background-color: darkslategray;
    color:antiquewhite;
}

#project-content h1{
    margin-bottom: 5%;
}
#project-content img {
    height: 15vh;
}
footer {
    text-align:center;
    background-color: black;
    color:antiquewhite;
    height:25vh;
    padding-top:5vh;
}

.logo {
    margin-bottom: 4%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 75px;
    color:antiquewhite;
}
#about-me {
    background-color: darkslategrey;
    color: antiquewhite;
    border-top:5px;
    border-bottom: 5px;
    border-color: antiquewhite;
    border-width: 5px;
}
#about-me container {
    justify-content: space-around;
}
#about-me img {
    margin: 10%;
    max-height: 50vh;
    border: 3px solid antiquewhite;
    border-radius: 20px;
}
.col {
    margin: 30px;
}